@media (prefers-reduced-motion: reduce) {

  /* Estilos para usuario/as que prefieren reducir el movimiento */
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/*Tablet styles*/
@media (481px <=width <=768px) {
  .layout {
    width: 90%;
  }

  .hero__section h1 {
    font-size: 8rem;
    text-shadow:
      /*Para crear el borde*/
      4px 0 0 var(--color-1),
      -4px 0 0 var(--color-1),
      0 4px 0 var(--color-1),
      0 -4px 0 var(--color-1),
      var(--color-1) 1px 1px,
      var(--color-1) 0px 0px,
      var(--color-1) 1px 1px,
      var(--color-1) 2px 2px,
      var(--color-1) 3px 3px,
      var(--color-1) 4px 4px,
      var(--color-1) 5px 5px,
      var(--color-1) 6px 6px,
      var(--color-1) 7px 7px,
      var(--color-1) 8px 8px,
      var(--color-1) 9px 9px,
      var(--color-1) 10px 10px,
      var(--color-1) 11px 11px,
      var(--color-1) 12px 12px,
      var(--color-1) 13px 13px,
      var(--color-1) 14px 14px,
      var(--color-1) 15px 15px;
  }

  .hero__section p:last-child {
    margin-top: 4rem;
  }

  .img__project {
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
    order: 1;
  }

  .project__link {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .main__title {
    font-size: 4rem;
    text-shadow:
      /*Para crear el borde*/
      2.5px 0 0 var(--color-1),
      -2.5px 0 0 var(--color-1),
      0 2.5px 0 var(--color-1),
      0 -2.5px 0 var(--color-1),
      var(--color-1) 1px 1px,
      var(--color-1) 0px 0px,
      var(--color-1) 1px 1px,
      var(--color-1) 2px 2px,
      var(--color-1) 3px 3px,
      var(--color-1) 4px 4px,
      var(--color-1) 5px 5px,
      var(--color-1) 6px 6px,
      var(--color-1) 7px 7px,
      var(--color-1) 8px 8px,
      var(--color-1) 9px 9px,
      var(--color-1) 10px 10px;
  }
}

/* Navbar sticky solo en escritorio */
@media (min-width: 768px) {
  .dark__theme .header__layout {
    background: rgba(19, 15, 55, 0.9);
  }

  .header__layout {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* From https://css.glass */
    background: rgba(173, 216, 230, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

/*Responsive menu*/
@media screen and (max-width: 768px) {

  .header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar__empty {
    display: flex;
    justify-content: flex-start;
    order: 1;
  }

  .btn__responsive__menu,
  .btn__close__responsive__menu {
    display: flex;
    justify-content: flex-end;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem;
  }

  .btn__responsive__menu {
    order: 2;
    margin-left: auto;
  }

  .navbar {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-2);
    opacity: 0;
    visibility: hidden;
  }

  .navbar.visible {
    opacity: 1;
    visibility: visible;
    height: 35rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid var(--shadow-color);
  }

  .navbar__links {
    flex-direction: column;
    align-items: end;
  }

  .navbar__hidden {
    display: none;
  }

  .button__themes {
    display: none;
  }

  .hero__section {
    margin-top: 0;
  }

  .layout__links {
    flex-direction: column;
  }

  .article__project {
    width: 90%;
    padding: 4rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    flex-direction: column;
  }

  .article__habilities {
    margin: 2rem 0;
  }

  .article__description {
    order: 2;
  }

  .project__link {
    margin-top: 2rem;
  }

  .main__layout,
  .main__about__me {
    gap: 5rem;
  }

  .main__about__me {
    align-items: center;
    flex-direction: column;
  }

  .main__habilities p,
  .main__contact p {
    width: 80%;
  }

  .main__projects .main__title {
    margin: 4rem 0;
  }
}

/*Laptop styles*/
@media (769px <=width <=1024px) {
  .layout {
    width: 90%;
  }

  .button__themes {
    width: 15%;
  }

  .navbar__links {
    gap: 1rem;
  }

  .navbar__links .link__hover,
  .navbar__links .download__cv--navbar {
    font-size: 1.5rem;
  }

  .header__toggle {
    width: 10%;
  }

  .hero__section h2,
  .hero__section .text__p {
    width: 80%;
  }

  .article__project {
    width: 90%;
    padding: 4rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    flex-direction: column;
  }

  .img__project {
    width: 100%;
    height: 30rem;
    order: 1;
  }

  .article__habilities {
    margin: 3rem 0;
  }

  .article__description {
    order: 2;
  }

  .project__link {
    width: 35%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .main__layout,
  .main__about__me {
    gap: 5rem;
  }

  .main__about__me {
    align-items: center;
    flex-direction: column;
  }

  .main__about__me p,
  .main__contact p {
    width: 80%;
  }

  .main__projects .main__title {
    margin-top: 5rem;
  }

  .main__title {
    font-size: 6rem;
    text-shadow:
      /*Para crear el borde*/
      2.5px 0 0 var(--color-1),
      -2.5px 0 0 var(--color-1),
      0 2.5px 0 var(--color-1),
      0 -2.5px 0 var(--color-1),
      var(--color-1) 1px 1px,
      var(--color-1) 0px 0px,
      var(--color-1) 1px 1px,
      var(--color-1) 2px 2px,
      var(--color-1) 3px 3px,
      var(--color-1) 4px 4px,
      var(--color-1) 5px 5px,
      var(--color-1) 6px 6px,
      var(--color-1) 7px 7px,
      var(--color-1) 8px 8px,
      var(--color-1) 9px 9px,
      var(--color-1) 10px 10px;
  }
}

@media (min-width: 1025px) {
  .layout {
    width: 80%;
  }

  .navbar__empty,
  .button__themes {
    width: 10%;
  }

  .navbar__links .link__hover,
  .navbar__links .download__cv--navbar {
    font-size: 2rem;
  }

  .hero__section {
    margin-top: 7rem;
  }

  .hero__section h1 {
    font-size: 10rem;
    text-shadow:
      /*Para crear el borde*/
      2px 2px 0 var(--color-1),
      2px -2px 0 var(--color-1),
      -2px 2px 0 var(--color-1),
      -2px -2px 0 var(--color-1),
      2px 0px 0 var(--color-1),
      0px 2px 0 var(--color-1),
      -2px 0px 0 var(--color-1),
      0px -2px 0 var(--color-1),
      /*Para crear la sombra*/
      1px 1px var(--color-1),
      5px 4px var(--color-1),
      5px 5px var(--color-1),
      6px 6px var(--color-1),
      7px 7px var(--color-1),
      8px 8px var(--color-1),
      9px 9px var(--color-1),
      10px 10px var(--color-1);
  }

  .hero__section .text__p {
    width: 60%;
  }

  .hero__section p:last-child {
    margin-top: 6rem;
  }

  .project__title {
    margin-bottom: 1.5rem;
  }

  .main__title {
    font-size: 6rem;
    text-shadow:
      /*Para crear el borde*/
      2.5px 0 0 var(--color-1),
      -2.5px 0 0 var(--color-1),
      0 2.5px 0 var(--color-1),
      0 -2.5px 0 var(--color-1),
      /*Para crear la sombra*/
      1px 1px var(--color-1),
      2px 2px var(--color-1),
      3px 3px var(--color-1),
      4px 4px var(--color-1),
      5px 5px var(--color-1);
  }

  .main__about__me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about__me__layout {
    padding: 0 15rem;
    flex-flow: row nowrap;
  }

  .about__me__text {
    flex-basis: 70%;
  }

  .about__me__foto {
    width: 30rem;
  }

  .skills__section {
    max-width: 100%;
  }
}

@media (1025px <=width <=1416px) {

  .main__projects {
    max-width: 85%;
  }

  .article__project {
    padding: 5rem;
  }
}